* {
  margin: 0;
  padding: 0;
}

$gap: 25px;

$sidebar-width: 300px;
$content-width: 1280px;
$nav-height: 120px;
$yellow: #faef03;
$cyan: rgb(23, 200, 190);
$grey: #e9e9e9;

@mixin box($marginTop, $marginBottom, $padding, $bgColor, $width:"100%") {
  width: $width;
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
  padding: $padding;
  background-color: $bgColor;
}
@mixin box-text($top) {
  text-transform: uppercase;
  font-size: 40px;
  position: absolute;
  @if ($top == true) {
    top: 25px;
  }
  @else {
    bottom: 25px;
  }
}
@mixin btn($bgColor:$yellow, $color:#000) {
  border: none;
  background-color: $bgColor;
  color: $color;
}

@font-face {
  font-family: 'Bender-Light';
  src: url('../Bender-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Bender-Black';
  src: url('../Bender-Black.ttf') format('truetype');
}
.light {
  font-family: 'Bender-Light';
}
.black {
  font-family: 'Bender-Black';
}

body {
  background: rgb(222, 225, 227);
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  margin-top: 25px;
}

header {
  width: 100%;
  background: #fff;
  margin-bottom: $gap;

  .logo {
    background: #000;
    float: left;
    width: 170px;
    height: $nav-height;
    position: relative;
    z-index: 2;

    span {
      text-align: center;
      display: block;
      color: #fff;
      width: 100%;
      margin: 0 auto;

      font-size: 30px;
      line-height: 30px;
      &:first-child {
        margin-top: 30px;
      }
    }
  }

  nav {
    display: flex;
    align-items: stretch;
    height: $nav-height / 2;
    cursor: pointer;

    .nav__items {
      text-transform: uppercase;
      font-family: 'Bender-Black';
      font-size: 14px;
      color: #000;
      line-height: $nav-height / 2;
      padding: 0 22px;
      z-index: 2;
      position: relative;

      &:hover {
        background-color: $yellow;
      }
    }

    .space {
      width: 100%;
    }

    .nav__other {
      line-height: $nav-height / 2;
      padding: 0 20px;
      color: #999;
    }
  }

  .line {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: -2px;
    background-color: rgb(241, 241, 241);
    position: relative;
    z-index: 1;
  }

  .header__content {
    display: flex;
    flex-wrap: nowrap;
    height: $nav-height / 2;
    align-items: stretch;

    .search {
      width: 100%;
      display: flex;
      padding: 13px;

      input {
        padding: 0 8px;
        font-family: 'Bender-Light';
        font-style: italic;
        background-color: #dde1e4;
        height: 100%;
        width: 100%;
        border: none;
        border-style: none;

        &:focus {
          outline: none;
        }
      }

      button {
        background-color: #000;
        width: 34px;
        border: none;
      }
    }

    .item {
      padding: 0 10px;
      white-space: nowrap;
      color: #999;
      line-height: $nav-height / 2;
    }

    .cart {
      flex: 0 0 150px;
      width: 150px;
      height: calc(100% + 2px);
      margin-top: -2px;
      background-color: #000;
      position: relative;
      z-index: 3;
    }
  }
}

main {
  margin-right: $sidebar-width + $gap;
  margin-bottom: $gap;

  .slider {
    background-color: rgb(214, 215, 217);
    height: 472px;
    .slider-info {
      padding: 75px 0 50px 50px;
      width: 40%;
      float: right;
      .title {
        display: block;
        font: 42px 'Bender-Black';
        text-transform: uppercase;
        font-style: italic;
        color: #000;
      }
      p {
        margin-top: $gap;
        font-family: 'Bender-Light';
        font-size: 18px;
      }
      .btn {
        @include btn($yellow);
        margin-top: $gap;
        font-family: 'Bender-Black';
        padding: 10px 20px;
      }
      .slider_ui {
        position: relative;
        background-color: rgb(156, 166, 175); // rgb(156, 166, 175);
        height: 10px;
        width: 170px;
        margin-top: $gap * 3;

        .progress {
          width: 50%;
          height: 100%;
          display: block;
          background-color: #fff;
        }

        .circle {
          top: -5px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          position: absolute;
          background-color: rgb(156, 166, 175); // rgb(156, 166, 175);
        }
      }
    }
  }

  .product-box {
    margin-top: $gap;
    background-color: #fff;
    .title {
      padding: $gap;
      font-family: 'Bender-Black';
      font-style: italic;
      font-size: 20px;
    }
    .products-container {
      display: flex;
      flex-wrap: wrap;
      .item:first-child, .item:nth-child(4n) {
        border-left: none;
      }
      .item:nth-child(3n) {
        border-right: none;
      }
      .item {
        position: relative;
        box-sizing: border-box;
        width: 33.333333%;
        border: 2px solid rgb(245, 246, 248);
        border-left: 1px solid rgb(245, 246, 248);
        border-right: 1px solid rgb(245, 246, 248);
        span.note-hot {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 50px 50px 0 0;
          border-color: $yellow transparent transparent transparent;
          position: absolute;
          top: -2px;
          z-index: 2;
          &:after {
            content: 'hot';
            position: relative;
            display: block;
            margin: -40px 0 0 5px;
            font: 10px 'Bender-Black';
            font-style: italic;
            text-transform: uppercase;
          }
        }
        span.note-new {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 50px 50px 0 0;
          border-color: $cyan transparent transparent transparent;
          position: absolute;
          color: #fff;
          top: -2px;
          z-index: 2;
          &:after {
            content: 'new';
            position: relative;
            display: block;
            margin: -40px 0 0 5px;
            font: 10px 'Bender-Black';
            font-style: italic;
            text-transform: uppercase;
          }
        }
        img {
          position: relative;
          z-index: 1;
          background-color: rgb(210, 211, 213);
          width: 100%;
        }
        .description {
          display: block;
          font-family: 'Bender-Black';
          color: rgb(84, 84, 84);
          font-weight: 600;
          font-size: 14px;
          height: 50px;
          width: 60%;
          p {
            padding: $gap;
          }
        }
        .price {
          float: right;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.sidebar {
  float: right;
  width: 300px;

  .category-list {
    background-color: $yellow;
    .gender {
      display: flex;
      align-items: stretch;
      background-color: #fff;
      span {
        text-align: center;
        width: 50%;
        padding: 22px;
        font-family: 'Bender-Black';
        font-style: italic;
        &:hover {
          background-color: $yellow;
        }
      }
    }

    ul {
      padding: $gap 0;
      list-style: none;
      text-transform: uppercase;

      li {
        padding: 10px 0 10px 25px;
        font-family: 'Bender-Black';
        font-size: 14px;
        cursor: pointer;
        color: #000;
        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
  }

  .side-box {
    @include box($gap, $gap, 25px, #fff);

    .title {
      font-style: italic;
      font-family: 'Bender-Black';
      font-size: 22px;
      padding-bottom: 25px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      cursor: pointer;

      span {
        background-color: $grey;
        padding: 8px;
        margin: 0 5px 5px 0px;
        font-family: 'Bender-Light';
        cursor: pointer;

        .active, &:hover {
          cursor: pointer;

          background-color: $yellow;
          color: #000;
        }
      }
    }

    .list {
      list-style: none;
      color: #000;
      font: 14px 'Bender-Light';
      li {
        margin-bottom: 8px;
      }
    }

    .more {
      font-family: 'Bender-Light';
      font-size: 13px;
      margin-top: 8px;
    }
  }

  .cube-black {
    @include box(0, 0, 0 0 25px 25px, #000);
    height: 300px;
    color: #fff;
    position: relative;

    > span {
      font-style: italic;
      @include box-text(false);
    }
  }
  .cube-white {
    @include box(0, 0, 0 0 25px 25px, #fff);
    height: 300px;
    color: #000;
    position: relative;

    > span {
      font-style: italic;
      @include box-text(true);
    }
  }

  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

footer {
  clear: both;
  border-top: $gap solid transparent;
  display: flex;
  flex-wrap: wrap;

  .about {
    @include box(0, 0, 0, #fff, 50%);
    .inner {
      font-family: 'Bender-Light';
      .title {
        padding-bottom: 16px;
        display: block;
        font: 22px 'Bender-Black';
        font-style: italic;
        color: #000;
      }
      margin: 25px;
    }
  }
  .social-tw {
    @include box(0, 0, 0, #3fcbfc, 25%);
    .inner {
      font-family: 'Bender-Light';
      .title {
        padding-bottom: 16px;
        display: block;
        font: 22px 'Bender-Black';
        font-style: italic;
        color: #fff;
      }
      margin: 25px 0 25px 25px;
    }
  }
  .social-fb {
    @include box(0, 0, 0, #4a67b7, 25%);
    .inner {
      font-family: 'Bender-Light';
      .title {
        padding-bottom: 16px;
        display: block;
        font: 22px 'Bender-Black';
        font-style: italic;
        color: #fff;
      }
      margin: 25px 0 25px 25px;
    }
  }

  .footer-content {
    @include box(0, 0, 0, #232429, 100%);
    padding: 25px;
    display: flex;
    font: 16px 'Helvetica';

    .item {
      width: 25%;
      .title {
        color: #fff;
        font: 20px 'Bender-Black';
        font-style: italic;
        padding-bottom: $gap;
      }
      ul {
        color: rgb(122, 123, 127);
        list-style: none;
        li {
          padding-bottom: 8px;
        }
      }

      p {
        color: rgb(122, 123, 127);
      }
      .group {
        margin-top: 10px;
      }
      .email {
        width: 120px;
        height: 20px;
        vertical-align: middle;
        background-color: rgb(5, 5, 7);
        border: none;
        border-style: none;
        padding: 8px;

        &:focus {
          outline: none;
        }
        &::placeholder {
          font: 14px 'Helvetica';
          font-style: italic;
          color: rgb(122, 123, 127);
        }
      }
      .send {
        @include btn($yellow);
        margin-left: -4px;
        width: 32px;
        height: 35px;
        padding: 5px;
        vertical-align: middle;
      }
    }
  }

  .footer-bottom {
    @include box(0, 0, 20px 25px, #00000a, 100%);
    color: rgb(113, 114, 119);
    font: 14px 'Helvetica', sans-serif;
  }
}
